
			.tophead
			{
				background-color:red;
				color:white;
				width:100%;
							
			}
			.navigation_bar
			{
				background-color:black;
				color:red;
				height:50px;
			}
			.navigation_bar ul 
			{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}	
			.navigation_bar li
			{
				float:left;
			}	
			.navigation_bar li a 
			{
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
			.navigation_bar li a:hover:not(.active)
			{
				background-color: green;
			}
           .navigation_bar .active 
		    {
               background-color: #4CAF50;
			}
			
			.mySlides
			{
				display:none;
			}
			
			.intro
			{
				background-color:white;
				font-size:20px;
				
			}
			.footer
			{
				background-color:red;
				width:100%;
				color:white;				
			}
